[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
flask-jwt-extended = "*"
flasgger = "*"
datetime = "*"
flask-cors = "*"
flask-migrate = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-serialize = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
